# Requirements.txt
## Basis
streamlit                               # UI
tiktoken                                # Tokenizer
pymupdf                                 # PDF-Parsing
openai
python-dotenv
pypandoc                                # für docx
pypandoc-binary                         # für docx
pywin32
pymupdf4llm
pandas
openpyxl
tabulate
watchdog
langchain_core
pydantic
requests
chromadb

## LangChain
langchain>=0.3,<0.4                     # Kern-Framework
langchain-community>=0.3,<0.4           # Loader, Ollama, Vectorstores
langchain-text-splitters>=0.3,<0.4      # Offizielle Splitter
langchain-chroma>=0.2.6
langchain-openai>=0.2,<0.3